<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <custompayment>
                <payment_action>authorize</payment_action>
                <model>MoneroIntegrations\Custompayment\Model\PaymentMethod</model>
                <active>0</active>
                <title>Monero Payment</title>
                <order_status>pending_payment</order_status>
                <rpc_use_https>0</rpc_use_https>
                <num_confirmations>5</num_confirmations>
                <payment_window_minutes>60</payment_window_minutes>
                <price_api_key></price_api_key>
                <manual_xmr_rate></manual_xmr_rate>
                <manual_xmr_rate_currency></manual_xmr_rate_currency>
            </custompayment>
        </payment>
    </default>
</config>
